<div class="h-100 p-5 text-white bg-dark rounded-3">

  <style>
    body {background-color: powderblue;}
    h2 {color: aqua;}
    p{color: chartreuse}

  </style>
  <h2>O nas</h2>

  <p>Witamy na oficjalnej stronie firmy Skup Owoców </p>

  <p>Jesteśmy firmą która od wielu lat z powodzeniem sprzedaje owoce</p>

  <p>Zajmujemy się skupem i sprzedażą hurtowych ilości wszystkich rodzajów owoców. Szeroki asortyment surowców oraz wieloletnie doświadczenie poparte systematycznie podnoszonymi kwalifikacjami w zakresie potrzeb naszych kontrahentów sprawiają, że Skup owoców - Kycia, cieszy się z roku na rok coraz to szerszym uznaniem wśród wszystkich swoich klientów nie tylko w kraju.</p>

  <p>Gwarantujemy owoce wysokiej jakości, trwałości oraz doskonałym smaku o czym przekonali się wszyscy nasi dotychczasowi klienci.</p>

  <p>Zachęcamy bardzo serdecznie do współpracy oraz do zapoznania się z naszą ofertą!</p>
  
 





</div>
<footer class="pt-5 my-5 text-muted border-top">
  Created by best team · © 2022
</footer>
