


<div class="h-100 p-5 text-white bg-dark rounded-3">

  <style>
    body {background-color: powderblue;}
    h2 {color: aqua;}
    p{color: chartreuse}
  </style>
  <h2>Kontakt</h2>

  <p>Skup Owoców - Kycia</p>
  <p>Brzyska Wola</p>
  <p>37-304 Brzyska Wola</p>
  <p>Poland</p>
  <p>Nr. telefonu: 123456789</p>
  <p>E-mail: skupowocow@wp.pl</p>

  <p class="lead mb-0"><a href="offer" class="text-white fw-bold">Oferta</a></p>


</div>
<footer class="pt-5 my-5 text-muted border-top">
  Created by Kycia team · © 2022
</footer>
